@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <i>Welcome to my application!</i>
</div>
<img src="img/cpu.png" alt="HomeImage" height="650px" width="650px" class="rounded mx-auto d-block img-fluid slideDown">

