@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">CPU Express</h1>
    <h4>Project One</h4>
    <hr />
    <br />
    <p>Welcome to <a href=".">my App</a>!</p>
</div>
