@model IEnumerable<ProjectOne.Models.Orders>
@{
    ViewData["Title"] = "Index";
}
<h1>Checkout</h1>
<p>The products have been ordered!</p>
<p>You can view this information from the Order History page.</p>